---
import { Icon } from 'astro-icon'
import DocElements from "../components/DocElements.astro";
import DocHeader from '../components/DocHeader.astro';
import DocFooter from '../components/DocFooter.astro';
import GLOBAL from '../../global.json'
import Badge from '../components/Badge.astro';
import Link from '../components/Link.astro';

// type Props = {
//   title: string,
//   frontmatter: {
//     title: string;
//     description?: string;
//     author: string;
//   };
// 	headings: MarkdownHeading[];
// };

const { frontmatter, headings } = Astro.props ;
const title = frontmatter ? frontmatter.title : Astro.props.title
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="p-5">
      <div class="flex justify-between ml-4 mb-8">
        <div class="flex">
          <Icon name="logo" width="50"/>
          <h1 class="text-slate-900 ml-4 text-3xl"><a href="/">SCEIS Placement Handbook</a></h1>
        </div>
        <div class="flex gap-2">
          <Badge>
              <Icon name="carbon:version" width="20" class="mr-2 text-blue-900 font-bold"/> 
              <span class="text-gray-900">Version&nbsp;<span>{GLOBAL.version}</span></span> 
          </Badge>        
          </div>
      </div>

      <div class="flex">
        <!-- Left Side Bar -->
        <aside class="w-64" aria-label="LeftSidebar">
          <div class="overflow-y-auto py-4 px-3 bg-gray-50 rounded">
            <ul class="space-y-2">
              <li class="text-blue-900 font-bold">Handbook</li>
              <li><Link url="/background" icon="ic:baseline-batch-prediction" label="Background" /></li>
              <li><Link url="/introduction" icon="ic:baseline-start" label="Introduction"/></li>
              <li><Link url="/preparing-for-placement" icon="ic:baseline-clean-hands" label="Preparation"/></li>
              <li><Link url="/on-placement" icon="ic:outline-work" label="Placement"/></li>
             
              <li class="text-green-900 font-bold">Recruit Guidance</li>
              <li><Link url="/recruit/student" icon="ph:student-fill" label="Student"/></li>
              <li><Link url="/recruit/academic" icon="dashicons:welcome-learn-more" label="Academic"/></li>
            </ul>
          </div>
        </aside>

        <!-- Document -->
        <article class="mx-auto prose prose-a:no-underline prose-h2:text-green-800 prose-h3:text-slate-800">
          <DocHeader frontmatter={frontmatter}/>
          <slot/> 
          <DocFooter frontmatter={frontmatter} modified={GLOBAL.modified}/>
        </article>

        <!-- Right Side Bar -->
        <aside class="w-64" aria-label="RightSidebar">
          <div class="overflow-y-auto py-4 px-3 bg-gray-50 rounded">
            <DocElements frontmatter={frontmatter} headings={headings}/>
          </div>
        </aside>
      </div>
    </div>
  </body>
</html>
