---
import { Icon } from 'astro-icon'
import PageElements from "../components/PageElements.astro";
import DocHeader from '../components/DocHeader.astro';
import DocFooter from '../components/DocFooter.astro';
import GLOBAL from '../../global.json'
import Badge from '../components/Badge.astro';

// type Props = {
//   title: string,
//   frontmatter: {
//     title: string;
//     description?: string;
//     author: string;
//   };
// 	headings: MarkdownHeading[];
// };

const { frontmatter, headings } = Astro.props ;
const title = frontmatter ? frontmatter.title : Astro.props.title
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="p-5">
      <div class="flex justify-between ml-4 mb-8">
        <div class="flex">
          <Icon name="logo" width="50"/>
          <h1 class="text-slate-900 ml-4 text-3xl"><a href="/">SCEIS Placement Handbook</a></h1>
        </div>
        <Badge>
            <span class="text-gray-900">Updated</span>&nbsp;<span>{GLOBAL.modified}</span>
        </Badge>        
      </div>

      <div class="flex">
        <aside class="w-64" aria-label="LeftSidebar">
          <div class="overflow-y-auto py-4 px-3 bg-gray-50 rounded dark:bg-gray-800">
            <ul class="space-y-2">
              <li class="text-blue-900 font-bold">Handbook</li>
              <li>
                <a href="/background"
                   class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
				          <Icon name="ic:baseline-batch-prediction" width="20" class="text-gray-400" />
                  <span class="ml-3">Background</span>
                </a>
              </li>
              <li>
                <a href="/introduction"
                  class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
				          <Icon name="ic:baseline-start" width="20" class="text-gray-400" />
                  <span class="flex-1 ml-3 whitespace-nowrap">Introduction</span
                  >
                </a>
              </li>
              <li>
                <a
                  href="/preparing-for-placement"
                  class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
                >
				          <Icon name="ic:baseline-clean-hands" width="20" class="text-gray-400" />              				
                  <span class="flex-1 ml-3 whitespace-nowrap">Preparation</span>
                </a>
              </li>
              <li>
                <a href="/on-placement"
                  class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                  <Icon name="ic:outline-work" width="20" class="text-gray-400" />              				               
                  <span class="flex-1 ml-3 whitespace-nowrap">Placement</span>
                </a>
              </li>
              <li class="text-green-900 font-bold">Recruit Guidance</li>
              <li>
                <a href="/recruit/student"
                  class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                  <Icon name="ph:student-fill" width="20" class="text-gray-400" />              				               
                  <span class="flex-1 ml-3 whitespace-nowrap">Student</span>
                </a>
              </li>  
            
              <li>
                <a href="/recruit/academic"
                  class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                  <Icon name="dashicons:welcome-learn-more" width="20" class="text-gray-400" />              				               
                  <span class="flex-1 ml-3 whitespace-nowrap">Academic</span>
                </a>
              </li>
            </ul>
          </div>
        </aside>

        <article class="mx-auto prose prose-a:no-underline prose-h2:text-green-800 prose-h3:text-slate-800">
          <DocHeader frontmatter={frontmatter}/>
          <slot/> 
          <DocFooter frontmatter={frontmatter} version={GLOBAL.version}/>
        </article>

        <aside class="w-64" aria-label="RightSidebar">
          <div class="overflow-y-auto py-4 px-3 bg-gray-50 rounded dark:bg-gray-800">
            <PageElements frontmatter={frontmatter} headings={headings}/>
          </div>
        </aside>
      </div>
    </div>
  </body>
</html>
